{{- if not .Restricted }}
apiVersion: v1
kind: Secret
metadata:
  name: "secret-{{ .Service.Name.DNSCase }}"
  namespace: "{{ .Namespace }}"
type: Opaque
data:
  {{- range $key, $value := .Deployment.SecretMap }}
  {{ $key }}: "{{ $value }}"
  {{- end }}
{{- end }}
