apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ .Service.Name.DNSCase }}"
  namespace: "{{ .Namespace }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: "{{ .Service.Name.DNSCase }}"
  template:
    metadata:
      labels:
        app: "{{ .Service.Name.DNSCase }}"
    spec:
      containers:
        - name: minio
          image: minio/minio:RELEASE.2025-09-07T16-13-09Z@sha256:14cea493d9a34af32f524e538b8346cf79f3321eff8e708c1e2960462bd8936e
          args:
            - server
            - /data
          ports:
            - containerPort: 9000
          envFrom:
            - configMapRef:
                name: cm-{{ .Service.Name.DNSCase }}
            - secretRef:
                name: secret-{{ .Service.Name.DNSCase }}
          volumeMounts:
            - name: data
              mountPath: /data
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: "{{ .Service.Name.DNSCase }}-minio-pvc"
