apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ .Service.Name.DNSCase }}-minio-pvc"
  namespace: "{{ .Namespace }}"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
